/* header */
.logo {
	margin-bottom: 1.5em;
}

.logo img {
	max-height: 300px;
}

/* Icons */

.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.icons li {
	display: inline-block;
	padding: 0.25em 0.25em;
}

.icons li a {
	text-decoration: none;
	position: relative;
	display: block;
	width: 3.75em;
	height: 3.75em;
	border-radius: 100%;
	border: solid 0px #280124;
	line-height: 3.65em;
	overflow: hidden;
	text-align: center;
	text-indent: 3.75em;
	white-space: nowrap;
	background: #280124;

}

.icons li a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icons li a:before {
	color: #fff;

}

.icons li a:hover:before {}

.icons li a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 1.85rem;
	line-height: inherit;
	text-align: center;
	text-indent: 0;
}

.icons li a:hover {
	border-color: #280124;
}

@media screen and (max-width: 480px) {

	.icons li a:before {
		font-size: 1.5rem;
	}

}
