<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <title>
      Baltimore Code and Coffee | Baltimore's best in-person tech meetup
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="icon" href="images/favicons/favicon.png" />

    <link rel="canonical" href="https://baltimorecodeandcoffee.com/" />
    <meta property="og:type" content="Baltimore Code and Coffee" />
    <meta
      property="og:image"
      content="images/logo_transparent_small_original.png"
    />
    <meta property="og:url" content="http://baltimorecodeandcoffee.com/" />
    <meta property="og:site_name" content="Baltimore Code and Coffee" />
    <meta property="og:title" content="Baltimore Code and Coffee" />
    <meta
      property="og:description"
      content="Baltimore's best in-person tech meetup."
    />
    <meta
      name="description"
      content="Baltimore's best in-person tech meetup."
    />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="stylesheet" href="./css/master.css" />
    <script type="module" src="./js/reusableComponents.js"></script>
  </head>

  <body id="body">
    <our-header></our-header>

    <button id="toggle-dark-mode">☀️</button>

    <!-- Wrapper -->
    <div id="wrapper" , class="dark-mode">
      <!-- Main -->
      <section id="main" class="longform dark-mode">EVENTS_HTML</section>

      <our-footer></our-footer>
    </div>

    <our-slack-link></our-slack-link>

    <!-- Scripts -->
    <!-- Clicky Analytics -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.body.classList.add("loaded"); // Add 'loaded' class when the document is fully loaded
      });
    </script>
    <script async data-id="101449400" src="//static.getclicky.com/js"></script>

    <script src="./lightdark.js"></script>
  </body>
</html>
