<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <title>
      Baltimore Code and Coffee | Baltimore's best in-person tech meetup
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="icon" href="images/favicons/favicon.png" />

    <link rel="canonical" href="https://baltimorecodeandcoffee.com/" />
    <meta property="og:type" content="Baltimore Code and Coffee" />
    <meta property="og:image" content="images/logo_transparent_small_original.png" />
    <meta property="og:url" content="http://baltimorecodeandcoffee.com/" />
    <meta property="og:site_name" content="Baltimore Code and Coffee" />
    <meta property="og:title" content="Baltimore Code and Coffee" />
    <meta
      property="og:description"
      content="Baltimore's best in-person tech meetup."
    />
    <meta
      name="description"
      content="Baltimore's best in-person tech meetup."
    />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="stylesheet" href="./css/master.css" />
  </head>

  <body id="body">
    <div class="navbar">
      <a href="./index.html">Home</a>
      <a href="./constitution.html">Constitution</a>
      <a href="./events.html">Events</a>
      <a href="./newsletter.html">Newsletter</a>
      <a href="./get-involved.html">Get Involved!</a>
      <a href="./meet-the-members.html">Meet the Members</a>
    </div>

    <button id="toggle-dark-mode">☀️</button>

    <!-- Wrapper -->
    <div id="wrapper" , class="dark-mode">
      <!-- Main -->
      <section id="main" , class="dark-mode">
        EVENTS_HTML
      </section>
      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; Baltimore Code and Coffee 2024</li>
        </ul>
      </footer>
    </div>
    <!-- Aside - Slack Social -->
    <aside id="slackButton" class="slack-social slack-social__container">
      <a
        href="https://join.slack.com/t/baltimoretech/shared_invite/zt-25vc0y5qv-naHml_SW42t5Cz1LZx1RTw&sa=D&source=editors&ust=1724862339979236&usg=AOvVaw1Tfr9v1MX4e-U5V_8-q_c-"
        target="_blank"
        class="slack-social__link"
      >
        <button class="slack-social__button" type="button">
          <img
            src="./images/slack_icon.png"
            alt="Slack icon"
            class="slack-social__icon"
          />
          <p class="slack-social__cta">Join our SLACK!</p>
        </button></a
      >
    </aside>

    <!-- Scripts -->
    <!-- Clicky Analytics -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.body.classList.add("loaded"); // Add 'loaded' class when the document is fully loaded
      });
    </script>
    <script async data-id="101449400" src="//static.getclicky.com/js"></script>

    <script src="./lightdark.js"></script>
  </body>
</html>
